django-ckeditor==5.3.0    # via -r requirements.in
django-debug-toolbar==1.8  # via -r requirements.in
django-js-asset==0.1.1    # via django-ckeditor
django==1.11.29           # via -r requirements.in, django-debug-toolbar
mysqlclient==1.4.6        # via -r requirements.in
pillow==7.1.2             # via -r requirements.in
pytz==2017.2              # via django
sqlparse==0.2.3           # via django-debug-toolbar
