{% extends "base1.html" %}
{% load static %} 


{% block title %}Book a Cab &middot; {{ block.super }}{% endblock %}


{% block content %}
    <div id="map"></div>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 18
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Get a MediPink Cab at This or Near-by Locations. <button class="btn btn-success" onClick=initMap()>Book Now ↓</button>');
            infoWindow.open(map);
            map.setCenter(pos);
            document.getElementById('id_latitude').value=pos["lat"];
            document.getElementById('id_longitude').value=pos["lng"];
            document.getElementById('id_name').value="{{ request.user.first_name }}";
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQYDSI__3GHGCCsyYwcfDJVjQJjOcXIjM&callback=initMap">
    </script>


<nav style="
width: 100%;
position: fixed;
bottom: 0;
z-index: 10000;
background-color: #F8F8F8;
border-top: 2px solid #E7E7E7;
text-align:center;
vertical-align: center;
padding: 10px;">
<div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="/"><i class="fa fa-home fa-2x" style="color: blue;"></i><p>Home</p></a>    
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <form method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.name %}
                            </div>
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.latitude %}
                            </div>
                            <div class="form-group">
                                {% include 'includes/_field.html' with field=form.longitude %}
                            </div>
                                <button type="submit" style="border: 0px; background-color: #f8f8f8;"><i class="fa fa-check fa-2x" style="color: green;"></i><p>Book Now</p></button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="/blog"><i class="fa fa-newspaper-o fa-2x" style="color: red;"></i><p>News</p></a>
                </div>

            </div>
        </div>
    </nav>

{% endblock %}

{% block footer %}
      {% endblock %}