   {% load static %}
    <!--/#clients-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h3>Services</h3>
                        <ul class="nav">
                        <li><a href="/digital-marketing-company-punjab">Marketing</a></li>
                                <li><a href="/seo-company-in-punjab">Search Engine Optimization</a></li>
                                <li><a href="/smo-company-in-punjab">Social Media Optimization</a></li>
                                <li><a href="/ppc-Company-in- Punjab">Pay Per Click</a></li>
                                <li><a href="/website-design-and-development">Website Design & Development</a></li>
                                <li><a href="/software-development-company-in-punjab">Custom Software Development</a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h3>Company</h3>
                        <ul class="nav">
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Career</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h3>Address</h3>
                        <address>
                        Kang Complex, <br> 
                        Urban Estate III, <br> 
                        Patiala, Punjab <br> 
                        India <br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" style="border-style: dashed; border-color: black;">
                    <div class="contact-info bottom">
                        <h3><i class="fa fa-phone"></i> Get in Touch</h3>
                        <address>
                        E-mail: <a href="mailto:someone@example.com">info@adbazzar.in</a> <br> 
                        Phone: +91 7086 170 861 <br> 
                        </address>
                    </div>
                </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center col-sm-6">
                        
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/adbazzarr/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/ad_bazzar"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCJeNlDy45w53eiYI00JE-1A"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/adbazzar/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/adbazzar.in/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                         
                    </div>
                    <div class="copyright-text text-right col-sm-6" align="right" style="color: black;">
                       <h6>© 2018 All rights reserved. AdBazzar Media - A Group of Wilqo Media Advertisement Pvt. Ltd.</h6>
                    </div>
                </div>
            </div>
    </footer>
    <!--/#footer-->