{% extends "base1.html" %}
{% block meta %}
    <meta name="title" content="">
    <meta name="description" content="">
    <meta charset="keywords" content="">
    {% endblock %}

{% block title %}{{ flatpage.title }} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="active">{{ flatpage.title }}</li>
{% endblock %}

{% block content %}
  <div class="flatpages">
    <h1>{{ flatpage.title }}</h1>

    {{ flatpage.content }}
  </div>
{% endblock %}
